// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

// TODO sort out these general oveerides for duplication, what can be refactored to bulma sass variable overwrites

p.footer-text {
  width: 100%;
}

div > div.navbar-menu {
  background-color: $primary;
  a.navbar-item, span.navbar-link {
    color: #fff;
  }  
}

div.student-image {
  display: flex;
  justify-content: center;
}

figure.image {
  height: 300px;
  width: 300px;
}

.image-border {
  border: solid 5px; 
}

.image-border-small {
  border: solid 3px; 
}

.uxdi {
  border-color: $uxdi;
}
.sei {
  border-color: $sei;
}
.dsi {
  border-color: $dsi;
}

.column {
  p.subtitle , i {
  color: $custom-text;
  }
}

.profile-container {
  padding-top: 10px;
}

section.section.profile-top {
  padding-top: 1rem;
}

.course-description {
  padding-top: 0;
  padding-bottom: 0;
}

div.hero-body {
  padding-top: 0;
  padding-bottom: 0;
}


span.course-logo {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  &.sei-dot {
    background-color: $sei;
  }
  &.uxdi-dot {
    background-color: $uxdi;
  }
  &.dsi-dot {
    background-color: $dsi;
  }
}

@media only screen and (max-width: $desktop) {
  div > div.navbar-menu {
  background-color: $grey-darker;
    a.navbar-item, span.navbar-link {
      color: #fff;
    }
  }

  .profile-container {
    padding-top: 10px;
    padding-bottom: 0;
  }
}


@font-face {
  font-family: Circular;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/CircularStd-Black.otf") format("otf");
  font-display: swap;
}

html,body {
  font-family: Circular, sans-serif;
}

.logo-brand {
  width: 250px;
}

a.logo-container {
  display: flex;
  align-items: center;
}  

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

