// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

p.footer-text {
  width: 100%;
}

@media only screen and (max-width: $tablet) {
  div > div.navbar-menu {
  background-color: $grey-darker;
    a.navbar-item, a.navbar-link {
      color: #fff;
    }  
  }
}



